{% extends 'base.html' %}
{% block title %}Kitoblar ro‘yxati{% endblock %}
{% block content %}
    <h2>Kitoblar</h2>
    {% for book in books %}
        <div class="card">
            <h3>{{ book.title }}</h3>
            <p><strong>Muallif:</strong> {{ book.author }}</p>
               {% if book.image %}
            <img src="{{ book.image.url }}" alt="{{ book.title }}" class="book-image">
            {% endif %}

            <p>{{ book.description }}</p>
            <a href="{% url 'book:book_detail' book.pk %}">Batafsil</a>
        </div>
    {% empty %}
        <p>Hozircha hech qanday kitob yo‘q.</p>
    {% endfor %}
{% endblock %}
